# Copied from collectri example
__pycache__
.venv
.vscode
.git
biocypher-*
# TC specific 
# Dockerfile
README.md
__pycache__
# biocypher-log
# biocypher-out
# collectri
# config
# create_knowledge_graph.py
data
data.db.bak
dendron.yml
dendronrc.yml
# docker
# docker-compose-chatgse.yml
# docker-compose.yml
# docker-variables.env
docs
# env
experiments
htmlcov
models
notebooks
notes
ontology
outputs
package-lock.json
package.json
pods
profiles
pull_request_template.md
pyproject.toml
python_app.yaml
relate.project.json
# scripts
stubs
tb_logs
tc
tests
torchcell-remote.code-workspace
torchcell.code-workspace
wandb
yarn.lock