[flake8]
max-line-length = 88
extend-ignore =
    # See https://github.com/PyCQA/pycodestyle/issues/373
    E203,

exclude = tests/torchcell/sequence/genome/scerevisiae/test_s288c.py
; # torchcell
; data/,
; images/,
; logo/,
; logs/,
; output/,

; # Docs
; docs/source/,

; # Python
; build/,
; dist/,
; .cache/,
; .mypy_cache/,
; .pytest_cache/,
; __pycache__/,
; *.egg-info/,

; # Git
; .git/,
; .github/,
