# Node
node_modules
.next # TODO check what this is

# python
*.pyc
__pycache__

# NCBI cmdlinetools
datasets.exe
dataformat.exe

# Pretrained Models
torchcell/models/pretrained_LLM/*

# Data
/data/go/
/data/scerevisiae/
/data/sgd/
/data/torchcell/
/data/sgd.gaf
wandb/
models/checkpoints/
mechanistic_aware.csv
data/yeast_gem
data/QM9
data/all_spell_readmes
data/string9.1
data/string12.0
data/string
data/tflink
data/safe_keeping

# Dendron
.dendron.port
.dendron.ws
notes/.dendron.cache.json

# ncbi_cli
ncbi_cli/*

# envs
env/pypy/*
.env
biochatter.env

# slurm
slurm/output
slurm/error
experiments/smf-dmf-tmf-001/slurm/*
experiments/002-dmi-tmi/slurm/*
experiments/003-fit-int/slurm/*
experiments/004-dmi-tmi/slurm/*

# docx
CHBE-symposium.docx
CHBE-symposium-2023.docx

# OWL
ontology/TCO.owl
ontology/TCO.properties

# Dendron Not needed
.dendron.port.cli

# hydra
outputs/

# Pytest Code Coverage
.coverage

# docs
docs/build/

# collectri - temporarily used in dir for biocypher learning.
collectri/

# biocypher
biocypher-out/
biocypher-log/
biocypher_warnings.log

# cache - biocypher?
.cache/cache.json

# build
dist/

# database
database/biocypher-out/*
## some of this should be kept for database startup.
database/data/*
database/logs
database/slurm/output
database/slurm/error

notes/assets/SEED_abstract_2024.docx

# files
gene_set.json
biocypher_file_name.txt

# Agent logs
experiments/smf-dmf-tmf-001/agent_log

torchcell/knowledge_graphs/conf/kg.yaml
experiments/embeddings/slurm/output/
experiments/embeddings/slurm/error/

# TEMPORARY
# notes/assets/images/*
*.log
logs.sh
# duplicate_check.json

# optuna
multirun

.qodo

# tests
tests/slurm/output/*

# apptainer/singularity
rockylinux_9.sif
/.luarc.json


# Other Users
notes/assets/pdf-output/user.Sahand-Shafeei.preliminary-project-outline.2025.05.05.pdf