# Node
node_modules
.next # TODO check what this is

# python
*.pyc
__pycache__

# NCBI cmdlinetools
datasets.exe
dataformat.exe

# Pretrained Models
src/torchcell/models/pretrained_LLM/*

# Data
data/
wandb/
models/checkpoints/

# Dendron
.dendron.port
.dendron.ws
notes/.dendron.cache.json

# ncbi_cli
ncbi_cli/*

# env
.env

# slurm
slurm/output
slurm/error