# Node
node_modules
.next # TODO check what this is

# python
*.pyc
__pycache__

# NCBI cmdlinetools
datasets.exe
dataformat.exe

# Pretrained Models
torchcell/models/pretrained_LLM/*

# Data
/data/go/
/data/scerevisiae/
/data/sgd/
/data/torchcell/
/data/sgd.gaf
wandb/
models/checkpoints/

# Dendron
.dendron.port
.dendron.ws
notes/.dendron.cache.json

# ncbi_cli
ncbi_cli/*

#
env/pypy/*
.env

# slurm
slurm/output
slurm/error
experiments/smf-dmf-tmf-001/slurm/*


# docx
CHBE-symposium.docx
CHBE-symposium-2023.docx

# OWL
ontology/TCO.owl
ontology/TCO.properties

# Dendron Not needed
.dendron.port.cli

# hydra
outputs/

# Pytest Code Coverage
.coverage

# docs
docs/build/

# collectri - temporarily used in dir for biocypher learning.
collectri/

# biocypher
biocypher-out/
biocypher-log/
biocypher_warnings.log

# cache - biocypher?
.cache/cache.json

# build
dist/

# database
database/slurm/*
database/biocypher-out/*
## some of this should be kept for database startup.
database/data/*
database/logs

notes/assets/SEED_abstract_2024.docx

# files
gene_set.json
biocypher_file_name.txt

# Agent logs
experiments/smf-dmf-tmf-001/agent_log

torchcell/knowledge_graphs/conf/kg.yaml
experiments/embeddings/slurm/output/
experiments/embeddings/slurm/error/


# TEMPORARY
# notes/assets/images/*