# First, install torch_scatter
git+https://github.com/rusty1s/pytorch_scatter
torchcell
# Then, install other dependencies
sphinx
sphinx_rtd_theme
myst_parser
pytorch_sphinx_theme
nbsphinx
git+https://github.com/pyg-team/pyg_sphinx_theme
