sphinx
myst-parser
sphinx_rtd_theme
pytest
black
bumpver
pip-tools
pytest
coverage
pydantic
numpy
pandas
matplotlib
plotly
seaborn
scipy
scikit-learn
torch
torchvision
torchaudio
networkx
torch_geometric
ptpython
goatools
dask
intermine
mypy
pandas-stubs
types-tqdm
flake8
types-requests
aiohttp