# env/requirements.txt
# scientific computing stack
numpy
pandas
openpyxl # with pandas
xlrd # with pandas
scipy
networkx
dask

# torch stack
torch
torchvision
torchaudio
torch_geometric
torch-scatter
torchmetrics
pytorch-lightning

# visualization stack and logging
wandb
matplotlib
adjustText # with matplotlib
pydot # Don't think I am using this... outdate
# pygraphviz # Don't think I am using this
graphviz # Don't think I am using this.
plotly
seaborn


# ML stack
scikit-learn
transformers # hugging face

# Bio stack
biopython
goatools
intermine
gffutils

# stubs and types
pandas-stubs
types-tqdm
types-requests

# data stack
attrs
pydantic

# web stack
aiohttp

# ontology stack
pronto
nxontology

# Workspace
python-dotenv

# dev-tools
bumpver
pre-commit
ptpython
pip-tools