# env/requirements.txt
# scientific computing stack
numpy
pandas
openpyxl # with pandas
xlrd # with pandas
matplotlib
adjustText # with matplotlib
plotly
seaborn
scipy
networkx
dask
pydot # Don't think I am using this... outdate
# pygraphviz # Don't think I am using this
graphviz # Don't think I am using this.

# torch stack
torch
torchvision
torchaudio
torch_geometric
torchmetrics

# ML stack
scikit-learn
transformers # hugging face

# Bio stack
biopython
goatools
intermine
gffutils

# stubs and types
pandas-stubs
types-tqdm
types-requests

# data stack
attrs
pydantic

# web stack
aiohttp

# ontology stack
pronto
nxontology

# Workspace
python-dotenv

# dev-tools
bumpver
pre-commit
ptpython
pip-tools